* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;
  --danger: #FF5959; 
  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198; 
  --shape-background: #131516;
  --shape-body: #212427; 
  --shape-button: #2D3136;
  --shape-hover: #383D42;
  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  --font-logo: "Leckerli One", cursive;
  --logo: 400 2.5rem/normal var(--font-logo);

  --font-heading: "Baloo 2", sans-serif;
  --h1: 800 1.75rem/normal var(--font-heading);
  --h2: 800 1.125rem/normal var(--font-heading);

  --font-body: "Open Sans", sans-serif;
  --body-md: 300 1rem/normal var(--font-body);
  --body-sm: 300 .875rem/normal var(--font-body);
  --body-xs: 300 .75rem/normal var(--font-body);
}

body {
  background-color: var(--shape-background);
  overflow: hidden;
  margin: 0;
  padding: 1.25rem;
  height: 100vh;
}

img {
  max-width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-1 {
  flex: 1;
}

.flex-2{
  flex: 2;
}